*{
    margin: 0;
    padding: 0;
    color: black;
}
.navbar{
    background-color: white;
}
a{
    text-decoration: none;
}
.navbar-brand{
    font-family: "Lora";
    color: #7D1935;
}

.navbar-brand:hover{
    opacity: 0.8;
    transition: .2s;
}
.nav-link{
    color: #7D1935;
}
.dropdown-item{
    color: #7D1935;
}
main{
    padding-top:100px ;
    padding-bottom:100px;
}
.carousel-item img{
    height:500px;
    background-size:cover;
    background-position: center;
    }

