* {
  margin: 0;
  padding: 0;
  color: black;
}
a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  color: inherit;
}
/*navbar*/
.navbar {
  background-color: white;
}

.navbar-brand {
  font-family: "Lora";
  color: #7d1935;
  margin-left: 30px;
}
.nav-item a {
  text-decoration: none;
  color: #7d1935;
}

.nav-item a:hover {
  text-decoration: none;
  color: black;
}

.navbar-brand:hover {
  opacity: 0.8;
  transition: 0.2s;
  color: black;
}

.dropdown-item {
  color: #7d1935;
}

/*Main*/
main {
  background-image: url("https://www.sainsburysmagazine.co.uk/uploads/media/2400x1800/04/6624-Toffee-apple-pie.jpg?v=1-0");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.main-text {
  border: 1px solid white;
  background-color: white;
  position: absolute;
  opacity: 0.8;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#why-sweet {
  padding-top: 50px;
  padding-bottom: 150px;
  background-color: #7d1935;
}

#why-sweet i {
  color: white;
}

#why-sweet hr {
  color: white;
}
.card,
.card-body {
  background-color: #7d1935;
}

.why-list {
  flex-wrap: wrap;
}
/*section categories*/
#categories {
  padding-top: 50px;
}
.card-img-top:hover {
  opacity: 0.6;
  visibility: visible;
}
/*reviews*/
#reviews {
  padding-top: 50px;
  padding-bottom: 190px;
  background-color: #7d1935;
}
.ratings i {
  color: #cecece;
}
.rating-star {
  color: #fbc634 !important;
}

#contact {
  padding-top: 50px;
  background-color: black;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  position: absolute;
}

footer {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: gray;
}
